body	
{
background-color:#FFFFFF;
font-family:"Segoe UI", sans-serif;
line-height:1.8em;
margin-left:20px;
}

h2
{
padding-bottom:22px;
font: "Seguoe UI", sans-serif;
color: #666;
}

h2.reports {
padding-bottom: 0px;
font: "Seguoe UI", sans-serif;
color: #666;
}

h3 {
    font: "Seguoe UI", sans-serif;
    color: #666;
}

p
{
margin-left:20px;
font-size:110%;
}

a
{
text-decoration:none;
}

a:link{color:#028ADE;}
a:hover{color:#000099;text-decoration:underline !important;}

